.splash-form-screen {
  position: relative;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  position: absolute;
  top: 20px;
  left: 30px;
  line-height: 100%;
  font-size: 48px;
}

.form-container .btn-disclaimer {
  margin-top: 50px;
  align-self: center;
  font-size: 48px;
}

.form-container .btn-disclaimer:hover {
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  margin-top: 100px;
  width: 690px;
  height: 452px;
  border: none;
  background: repeating-linear-gradient(
    180deg,
    #ececec,
    #ececec 48px,
    #000 48px,
    #000 50px
    );
  background-size: 100px ;
  outline: none;
  resize: none;
  font-family: inherit;
  font-weight: 200;
  font-size: 28px;
  line-height: 50px;
  padding: 6px 22px;
}
